# Java #
*.class
*.jar
*.war
*.ear

# eclipse #
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Visual Studio #
_ReSharper.*
obj
bin
*.suo
*.user
~$*.*
